header{
    font-size: 80px;
    font-family: 'Arial', sans-serif;
   display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
     border-bottom: solid 7.5px rgb(255, 255, 255);
    border-right: solid 7.5px rgb(255, 255, 255);
    border-left: solid 7.5px rgb(255, 255, 255);
}
body {
    background-color: #354b7c;
    text-shadow: 12px 15px 15px  rgb(247, 247, 247);
}
 h2 {
    font-family: 'Arial', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-bottom: solid 4.5px rgba(111, 173, 102);
    border-right: solid 4.5px rgb(111, 173, 102);
    border-left: solid 4.5px rgb(111, 173, 102);
}
 .header1, .header2, .header3, .header4, .header5 {
    font-size:30px;
    transition: all 0.3s ease;
}
.box1, .box2, .box3, .box4, .box5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size:20px;
     border-bottom: solid 4.5px #F27546;
    border-right: solid 4.5px #F27546 ;
    border-left: solid 4.5px #F27546 ;
    border-top: solid 4.5px #F27546
}

.image1 {
    width: 700px;
    height: 700px;
    overflow: hidden;
}
.image1 img {
 width: 100%;
height: 100%;
object-fit:cover;
display:block;
}
.image2 {
    width: 525px;
    height: 550px;
    overflow: hidden;
}
.image2 img {
     width: 100%;
height: 100%;
object-fit:cover;
display:block;
}
footer {
    border-bottom: solid 5.5px rgb(214, 212, 166) ;
    border-top: solid 5.5px rgb(214,212, 166)   ;
    border-left: solid 5.5px rgb(214,212, 166) ;
    border-right: solid 5.5px rgb(214, 212, 166);
}
.conclusion h1 {
    font-size: 50px;
}
.conclusion p {
    font-size: 25px;
}
