body {
    margin: 0;
    padding: 0;


}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8EC5FF;;
    padding: 10px 0px;
}


.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
   


}


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.navbar li {
    margin: 0 15px;
}


.navbar a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(55, 100, 55);
    font-weight: bold;
   


}


.logo-left .image-side img {
    width: 310px;
    height: 140px;
    object-fit: cover;
    display: block;
   
 


}
.logo-right .image-side1 img {
    width: 300px ;
    height: 150px;
    object-fit: cover;
    display:block;
 




}
.nav-center ul li a.active {
    background-color:#e0b79d;
    color:#A7B894;                      
    border-radius: 6px;          
    box-sizing: border-box;  
    border-bottom:solid 5px rgb(161, 51, 51);
    border-left:solid 5px rgb(46, 98, 175);
    border-right:solid 5px rgb(65, 158, 77);


}
.navbar ul :hover a {
  border-bottom:solid 5px rgb(161, 51, 51);
    border-left:solid 5px rgb(46, 98, 175);
    border-right:solid 5px rgb(65, 158, 77);


}
